
   @font-face {
       font-family: Raleway sans-serif Georgia, 'Times New Roman', Times, serif
       src: url(fonts\static\Raleway-Black.ttf);
   }

.vignette
{
    height: auto;
    width: auto;
    border: 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px lightgrey
}

.section
{
    background-color: rgb(27, 51, 73);
    position: absolute;
}