
   @font-face {
       font-family: Raleway sans-serif Georgia, 'Times New Roman', Times, serif
       src: url(fonts\static\Raleway-Black.ttf);
   }

.vignette
{
    height: 100px;
    width: 100px;
}