
 
 html
{
    width: 100%;
}
 
body
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
}
  
*
{
    box-sizing: border-box;
}

main
{
    margin: 0;
    padding: 0 30px;
}
  
.header
{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
  
.logo
{
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 97px;
    height: 90px;
    object-fit: contain;
    margin-left: 0px;
 }

.navbar
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}  

.header-nav
{
    margin: 40px 0;
}
  
.header-nav a
{
   padding: 0px 30px;
}

a
{
    text-decoration: none;
    color: black;
}
  
.header-nav a:hover 
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
    padding-top: 58px;
}
  
.signin
{
    color: #0065fc;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

  .disabled
{
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    color: #0065fc;
}

 .title 
 {
    margin: 20px 0;
    font-size: 20px;
}

.subtitle
{
    margin-bottom: 20px;
    font-size: 16px;
}